<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

<servlet>
    <servlet-name>BLoginServlet</servlet-name>
    <servlet-class>BLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>BLoginServlet</servlet-name>
    <url-pattern>/BLoginServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>BLogoutServlet</servlet-name>
    <servlet-class>BLogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>BLogoutServlet</servlet-name>
    <url-pattern>/BLogoutServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>BSelectTournament</servlet-name>
    <servlet-class>BSelectTournament</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>BSelectTournament</servlet-name>
    <url-pattern>/BSelectTournament</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>BTournamentDesapuntar</servlet-name>
    <servlet-class>BTournamentDesapuntar</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>BTournamentDesapuntar</servlet-name>
    <url-pattern>/BTournamentDesapuntar</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>BTournamentDesapuntarUpdate</servlet-name>
    <servlet-class>BTournamentDesapuntarUpdate</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>BTournamentDesapuntarUpdate</servlet-name>
    <url-pattern>/BTournamentDesapuntarUpdate</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>BTournamentInfo</servlet-name>
    <servlet-class>BTournamentInfo</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>BTournamentInfo</servlet-name>
    <url-pattern>/BTournamentInfo</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>BTournamentMap</servlet-name>
    <servlet-class>BTournamentMap</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>BTournamentMap</servlet-name>
    <url-pattern>/BTournamentMap</url-pattern>
</servlet-mapping>



<servlet>
    <servlet-name>PCreateTournamentServlet</servlet-name>
    <servlet-class>PCreateTournamentServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>PCreateTournamentServlet</servlet-name>
    <url-pattern>/PCreateTournamentServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>PEditTournamentServlet</servlet-name>
    <servlet-class>PEditTournamentServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>PEditTournamentServlet</servlet-name>
    <url-pattern>/PEditTournamentServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>PListOrganizerTournamentsServlet</servlet-name>
    <servlet-class>PListOrganizerTournamentsServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>PListOrganizerTournamentsServlet</servlet-name>
    <url-pattern>/PListOrganizerTournamentsServlet</url-pattern>
</servlet-mapping>



<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>TournamentList</servlet-name>
    <servlet-class>TournamentList</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserEdit</servlet-name>
    <servlet-class>UserEdit</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>UserUpdate</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>TournamentList</servlet-name>
    <url-pattern>/TournamentList</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserEdit</servlet-name>
    <url-pattern>/UserEdit</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>TournamentCheckIn</servlet-name>
    <servlet-class>TournamentCheckIn</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>TournamentCheckIn</servlet-name>
    <url-pattern>/TournamentCheckIn</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>TournamentMatchGenerator</servlet-name>
    <servlet-class>TournamentMatchGenerator</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>TournamentMatchGenerator</servlet-name>
    <url-pattern>/TournamentMatchGenerator</url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>RegisterTournamentServlet</servlet-name>
<servlet-class>RegisterTournamentServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterTournamentServlet</servlet-name>
<url-pattern>/RegisterTournamentServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ListTournamentsServlet</servlet-name>
    <servlet-class>ListTournamentsServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ListTournamentsServlet</servlet-name>
    <url-pattern>/ListTournamentsServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>OrganizerLoginServlet</servlet-name>
    <servlet-class>OrganizerLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>OrganizerLoginServlet</servlet-name>
    <url-pattern>/OrganizerLoginServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ManageParticipantsServlet</servlet-name>
    <servlet-class>ManageParticipantsServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ManageParticipantsServlet</servlet-name>
    <url-pattern>/ManageParticipantsServlet</url-pattern>
</servlet-mapping>




</web-app>